.container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 5px;
  font-size: 12px;
}

.container span {
  color: #eca5c2;
  text-decoration: underline 3px;
}
