.background {
  min-height: 100vh;
  width: 100%;

  position: absolute;
  background-image: url("../../../assets/global/fondoDefault.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.divBtn {
  position: relative;
  display: flex;
  justify-content: flex-start;
  margin: 20px;
}
.divBtn button {
  padding: 7px;
  font-weight: bold;
  background-color: #f8c8dcba;
  cursor: pointer;
}

.mainContainer {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #000000;
}

.dataContainer {
  position: relative;
  background-color: #f8c8dc98;

  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;

  padding: 40px;
  border-radius: 80px;
}

.stats {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin: 25px 0px 25px 0px;
}
.stats h4 {
  background-color: #f8c8dcc4;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #f4237a;
}

.stats span {
  color: #f4237a;
  padding-left: 15px;
}

.types {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;
}

.types span {
  font-weight: bold;
}

@media screen and (max-width: 980px) {
  .mainContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #000000;
    max-width: 100%;
  }

  .dataContainer {
    position: relative;
    background-color: #f8c8dc98;

    display: flex;
    flex-direction: column;
    text-align: center;
    justify-items: center;
    justify-content: center;
    align-items: center;
    gap: 10px;

    padding: 40px;
    border-radius: 80px;
    max-width: 100%;
  }
  .dataContainer img {
    width: 65%;
  }

  .stats {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-items: center;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 25px 0px 25px 0px;
  }
  .stats h4 {
    background-color: #f8c8dcc4;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #f4237a;
    width: auto;
  }

  .stats span {
    color: #f4237a;
    padding-left: 20px;
  }

  .types {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .typess {
    display: flex;
    flex-direction: column;
    font-weight: bold;
  }
}
