.container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 45px;
  margin-top: 30px;
}

/* celular */
@media screen and (max-width: 1025px) {
  .container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 45px;
    margin-top: 30px;
  }
}
