.background {
  min-height: 100vh;
  width: 100%;
  
  position: absolute;
  background-image: url("../../../assets/global/fondoDefault.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.mainContainer {

  position: relative;

  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  margin: 25px;
}

/* botton volver */
.divBtn {
  position: relative;
  display: flex;
  justify-content: flex-start;
  
}
.divBtn button {
  padding: 7px;
  font-weight: bold;
  background-color: #eca5c2;
  cursor: pointer;
}
/* ///////////////// */



/* TITULO pokedex */
.divTitle {
  margin: 15px 0px 45px 0px;
}

.title {
  font-family: "Pokemon";
  font-size: 5rem;
  line-height: 5rem;
  color: yellow;
  text-stroke: 2px black;
  -webkit-text-stroke: 2px black;
  display: flex;
  justify-content: center;
}
/* //////////////// */



/* Search bar */
.divSearch {
  position: relative;
  display: flex;
  justify-content: center;
  justify-items: center;
}
/* ////////////////*/


/* Filtrado */
.divFiltrado {
  position: relative;
  display: flex;
  justify-items: center;
  justify-content: center;
}
/* ///////////////// */



/* cartas */
.divCards {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  justify-content: center;
  text-align: center;

  
  gap: 50px;

  margin: 10px 0px 10px 0px;
}

/* /////////////// */


/* paginado */


/* /////////////// */